<br />
<h1 class="display-4">Ruby on Rails Demo Site</h1>
<p class="lead">Some important notes about our site below</p>
<hr class="my-4">
<p>First you should sign up by clicking on the 'Sign Up' on the top</p>
<p>Once you sign in you should see new acessible content on the nav bar for 'logged in users'</p>
<p>Now you can use our basic student management system!</p>
<h3>Features and purpose of our demo site</h3>
<ul class="list-group">
  <li class="list-group-item">1.) Show running web application made with Ruby on Rails</li>
  <li class="list-group-item">2.) Show Pages/Views made with ERB, HTML, Bootstrap</li>
  <li class="list-group-item">3.) Model and Controller (Backend) functionality</li>
  <li class="list-group-item">4.) Integration with Database (PostgreSQL)</li>
  <li class="list-group-item">5.) Routing: Site Navigation </li>
  <li class="list-group-item">6.) Routing: CRUD/Rest API (Login/Sign Up/Student Manager)</li>
  <li class="list-group-item">7.) Authentication and Gems (like bcrypt)</li>
</ul>