<br />
<h1 class="display-4">About Us</h1>
<p class="lead">We are Group A (16)</p>
<ul class="list-group">
  <li class="list-group-item">Dennis</li>
  <li class="list-group-item">Ashvinder</li>
  <li class="list-group-item">Brodie</li>
  <li class="list-group-item">Ji Won</li>
  <li class="list-group-item">Kushvir</li>
</ul>
<hr class="my-4">
<p>Our tech evaluation is on Ruby on Rails</p>